
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<main class="main" id="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
    </div>

    <iframe title="Super Store Sales Dashboard" width="1000" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYjRmYTM4NmYtZWYwOC00ZWFkLWEyNDctNTkwNWFlODM2YThiIiwidCI6ImQ0ODEzZTY4LWYyN2EtNDI1Ni1iNGY3LWIxMzQ1ZjQ5Y2IyNCJ9" frameborder="0" allowFullScreen="true"></iframe>
    
</main>
@* @section scripts{
    <script>
        function preventback(){
            window, history.forward();
        }
        setTimeout("preventback()");
        window.onunload = function () {
            null
        };
    </script>
} *@
 
