
@{
    ViewData["Title"] = "Superstore";
    Layout = "~/Views/Shared/_headfoot.cshtml";

}
<h2 class="text-center">Thank You!</h2>
<p class="text-center">Your order has been placed successfully.Now <a asp-action="UserPage" asp-controller="Account">Continue Shoping</a></p>
