
@{
    ViewData["Title"] = "Supertore";
    Layout = "~/Views/Shared/_headfoot.cshtml";
}

    <style>
        .about-section {
            padding: 50px;
            text-align: center;
            background-color: #474e5d;
            color: white;
            opacity:0.5;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin-top: 139px;
          
        }

        .container {
            padding: 0 16px;
        }

        .title {
            color: grey;
        }
        h2{
        margin-top:8px;
        
        }
        .team{
        font-weight: bolder;
        margin-top:8px;
    }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }

            .button:hover {
                background-color: #555;
            }

        /* Custom CSS for circular profile images */
        .profile-img {
            border-radius: 50%;
            width: 250px; /* Adjust as needed */
            height: 250px; /* Adjust as needed */
            object-fit: cover;
        margin-left: 57px;
        margin-top: -123px

        }
    </style>


    <div class="about-section">
        <div class="container">
            <h1 class="text-light">About Us</h1>
        <p class="text-light">SeBay Fashion is your go-to destination for the latest trends and timeless classics. We curate a diverse selection of fashion items, ranging from apparel and accessories to footwear and jewelry, catering to every style and occasion.</p>
         
        </div>
    </div>

    <h2 style="text-align:center" class="team">Meet Our Team</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="../images/ashishprofile.png" alt="ashish" class="profile-img">
                    <div class="container">
                        <h2 class="text-center">Ashish Kumbhar</h2>
                        <p class="title text-center">CEO & Founder</p>
                    <p>Meet our CEO & Founder whose vision and leadership drive our company forward. With a passion for innovation and a commitment to excellence, Ashish has led our team to achieve remarkable success.</p>
                    <p><a href="mailto:ashishkumbhar6533@gmail.com">ashishkumbhar6533@gmail.com</a></p>

                      
                    <p><a href="https://www.linkedin.com/in/ashish-kumbhar-6187b7265/"><button class="button">Contact</button></p></a>
                    </div>
                </div>
            </div>

        <div class="col-md-4">
            <div class="card">
                <img src="../images/darwin.png" alt="darwin" class="profile-img">
                <div class="container">
                    <h2 class="text-center">Darwin</h2>
                    <p class="title text-center">Data Analyst</p>
                    <p> Meet Darwin a proficient Data Analyst with a knack for uncovering insights from complex datasets. Armed with analytical prowess and a keen eye for detail, Darwin excels in turning data into actionable strategies.</p>
                    <p><a href="mailto:darwinmaulik143@gmail.com" >darwinmaulik143@gmail.com</a></p>
                    <p><a href="https://www.linkedin.com/in/darwin-maulik-017565211/"><button class="button">Contact</button></p></a>
                </div>
            </div>
        </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="../images/NC.jpg" alt="nc" class="profile-img">
                    <div class="container">
                        <h2 class="text-center">NC Chandrakant</h2>
                        <p class="title text-center">ML Engineer</p>
                    <p>Meet NC Chandrakant, a skilled ML Engineer specializing in machine learning algorithms and data-driven solutions. With a profound understanding of advanced analytics and a passion for innovation.</p>
                    <p><a href="mailto:ncchandrakant099@gmail.com">ncchandrakant099@gmail.com</a></p>
                    <p><a href="https://www.linkedin.com/in/nc-chandrakant-743688272/"><button class="button">Contact</button></p></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="../images/jemanta.jpg" alt="Jems" class="profile-img">
                    <div class="container">
                        <h2 class="text-center">Jemanta</h2>
                        <p class="title text-center">Backend Developer</p>
                    <p>Meet Jemanta, a skilled Backend Developer with a passion for crafting robust and efficient solutions. With expertise in backend technologies and a focus on delivering high-quality code, Jemanta plays a crucial role in building scalable and reliable systems.</p>
                    <p><a href="mailto:jemantamajhicare4u@gmail.com">jemantamajhicare4u@gmail.com</a></p>
                    <p><a href="https://www.linkedin.com/in/jemanta-ku-majhi-4ba58821b/"><button class="button">Contact</button></a></p>
                    </div>
                </div>
            </div>

        <div class="col-md-4">
            <div class="card">
                <img src="../images/sujit.jpg" alt="sujit" class="profile-img">
                <div class="container">
                    <h2 class="text-center">Sujit</h2>
                    <p class="title text-center">Frontend Developer</p>
                    <p>Meet Sujit, an accomplished Frontend Developer dedicated to shaping captivating digital experiences. With expertise in frontend technologies and a flair for design, Sujit excels in translating concepts into polished user interfaces. </p>
                    <p><a href="mailto:sujitkumarmahanta99@gmail.com">sujitkumarmahanta99@gmail.com</a></p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        </div>
    </div>


